<!-- plantillas/_base.html-->

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Soirce+Sans+Pro:400" rel="stylesheet">
    <title>Blog de Django</title>
</head>
<body>
    <header>
        <div>
            <h1><a href="{% url 'inicio' %}">Blog de Django</a></h1>
        </div>
        <div class="nav-right">
            <a href="{% url 'pub_nueva' %}">  + Nueva entrada de Blog</a>
        </div>
    </header>
    {% if user.is_authenticated %}
        <p>Hola {{ user.username }}</p>
        <p>
            <a href="{% url 'logout' %}">Salir (Cerrar sesión) </a>
        </p>
    {% else %}
        <p>No ha ingresado</p>
        <a href="{% url 'login' %}">Acceder (Iniciar sesión)</a>
        <a href="{% url 'signup' %}">| Registrarse</a>
        
    {% endif %}
    <div>
        {% block contenido %}
        {% endblock contenido%}
    </div>
    <footer></footer>
</body>
</html>
